body {
  background: #05a8f5;
  overflow: hidden;
}
html {
  font-family: sans-serif;
}
.burgur-menu {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.nav-wrap {
  position: absolute;
  background: #fff;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  box-shadow: #4c4c4c 1px 1px 15px;
  transition-property: width, height;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border-bottom-right-radius: 100%;
}
.burgur-menu label {
  position: absolute;
  font-size: 2em;
  z-index: 1;
  color: #05a8f5;
  left: 20px;
  top: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.burgur-menu .open {
  visibility: visible;
  opacity: 1;
}
.burgur-menu .close {
  visibility: hidden;
  opacity: 0;
}
input:checked ~ .nav-wrap {
  width: 5000px;
  height: 5000px;
}
input:checked ~ .nav-wrap > .nav > * {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
input:checked ~ .open {
  animation: closing 0.2s linear;
  visibility: hidden;
  opacity: 0;
}
input:checked ~ .close {
  transform: rotate(360deg);
  visibility: visible;
  opacity: 1;
}
.nav {
  font-weight: bold;
  margin-top: 80px;
  width: 4%;
}
.nav li {
  display: block;
  margin-bottom: 20px;
  transition-delay: 0.4s;
  visibility: hidden;
  opacity: 0;
}
.nav li a {
  display: block;
  padding: 5px 0px 5px 50px;
  cursor: pointer;
  color: #05a8f5;
  user-select: none;
}
li a:focus {
  background: #eee;
  color: #414141;
}
.title {
  position: absolute;
  right: 20%;
  color: #fff;
  top: calc(50% - 57px);
}
.title .title-inner h1 {
  margin-bottom: 30px;
  font-size: 3rem;
}
.title .title-inner p {
  font-size: 1.6rem;
}
.title .title-inner span {
  font-size: 1rem;
}
