* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
@keyframes flip {
  from {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(-90deg);
  }
  to {
    transform: rotateX(0);
  }
}
@keyframes closing {
  100% {
    transform: rotate(180deg);
  }
}
